
body {
	background-image: url("http://www.gtamania.com.br/vcs/wp-content/uploads/2015/11/gta-vice-city-stories-background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
	text-align: center;


	}


@font-face {
    font-family: 'lazer84regular';
    src: url('../fonts/lazer84-webfont.woff2') format('woff2'),
         url('../fonts/lazer84-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1
{
 font-family: "lazer84regular";
 text-shadow: 2px 2px 5px rgb(236, 118, 150);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



.main{
background: linear-gradient(to top, #0d9dbf 30%, #0d6a89 100%);
width: 400px;
margin: 0 auto;
border-radius: 15px;
/*box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
height: 810px;

  }

.main::after {
  border-radius: 15px 15px 300px 300px;
  box-shadow: 0 0 29px black;
  content: '';
  display: block;
  height: 620px;
  left: 761px;
  position: absolute;
  top: 51px;
  width: 396px;
  z-index: -1;
}

#email_error, #password_error, #repassword_error {
color: #d9534f;
padding: 1px;
}



.commentBox{
background-color: #fff;
border-style: solid;
border-width: 3px;
overflow: auto; width:375px; height:500px;
border-radius: 5px;
box-shadow: 0px -1px 23px 0px rgb(236, 118, 150);
margin-left: 2%;
}
textarea{
width:350px;
height: 70px;
}

.comments{
width: 350px;
background-color: #fff;
border-radius: 4px;
padding: 10px;
margin-bottom: 4px;
text-align: center;
}


.box {
  height: 100px;
  width: 100px;
  background: #222;
  position: absolute;
}
